body{
    color: rgb(21, 39, 30);
    background-color: rgb(252, 214, 172);
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name.of.objects,#result_object_name,#result_object_accuracy {
    color: rgb(37, 36, 36);
}
#camera{
    border: 2px dashed rgb(65, 63, 63);
    width: 350 px;
    height: 300 px;
}